div{
    border: 5px solid blue;
    margin: 5px;
    height: 100px;
    width: 100px;
    float:left;
    overflow: auto;
}
h5{
    background-color: lightblue;
    color:yellow;
    display: inline-block;
    margin: 0px;
}